{% extends '::base.html.twig' %}

{% block body %}

<div class="container-fluid">    
    <div class="row">
        <div id="panel-menu" class="pull-left">
            
            <!-- Default panel contents -->

                <div class="list-group">
                    <div class="list-group-item active">
                        <h4 class="list-group-item-heading"> Mes personnages</h4>
                        <p class="list-group-item-text">Ma liste des personnages</p>
                    </div>
                {% set prev_campaign = null %} 
                {% set campaign = null %} 
                    
                   {% for pc in pcs %}
                       
                    {% if pc.campaign is empty %} 
                        {% set campaign = 'Sans campagne' %}
                    {% else %}
                        {% set campaign = pc.campaign.name %}
                    {% endif %}    
                    
                    {% if prev_campaign != campaign %}
                        
                        {% if loop.index != 1 %}
                            </p>          
                        </div>
                        {% endif %}
                        
                        <div class="list-group-item">
                            <h4 class="list-group-item-heading">{{ campaign }}</h4>
                            <p class="list-group-item-text">
                                
                    {% endif %} 
                    
                        <a href="{{ path('manage_player', {id: pc.id}) }}">{{ pc }}</a> </br>
                
                    {% set prev_campaign = campaign %}
                        
                {% endfor %}
                    </div>
               
            </div>
        </div>
        <div id="panel-content">
            fd
        </div>
    </div>
</div>
    
{% endblock %}