<div class="list-group-item active">
    <h4 class="list-group-item-heading">
        <span>Tableau de bord Maître</span>
    </h4>
    <p class="list-group-item-text">Mes campagnes</p>
    <p></p>
    <p class="list-group-item-text">
        <a href="{{ path('manage_campaign') }}" class="btn btn-primary">nouvelle campagne</a>
    </p>
    
    <div class="list-group-item">
        <p class="list-group-item-text">
            
        {% for campaign in campaigns %}
            <a href="{{ path('manage_campaign', {id: campaign.id}) }}">{{ campaign.name }}</a> <br />
        {% endfor %}
            
        </p>
    </div>
</div>
    
    
