<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes personnages <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ path('manage_pc') }}">
                    <span class="glyphicon glyphicon-plus-sign"></span> nouveau personnage
                </a>
            </li>
            <li class="divider"></li>
            {% set prev_campaign = null %}
            {% set campaign = null %}

            {% for pc in pcs %}

                {% if pc.campaign is empty %}
                    {% set campaign = 'Sans campagne' %}
                {% else %}
                    {% set campaign = pc.campaign.name %}
                {% endif %}

                {% if prev_campaign != campaign %}
                    <li role="presentation" class="dropdown-header">{{ campaign }}</li>
                {% endif %}

                <li><a href="{{ path('manage_pc', {id: pc.id}) }}">{{ pc }}</a></li>

                {% set prev_campaign = campaign %}

            {% endfor %}
        </ul>
    </li>
</ul>


















