<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes campagnes de maître <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('manage_campaign') }}"><span class="glyphicon glyphicon-plus-sign"></span> nouvelle campagne</a></li>
            <li class="divider"></li>
            {% for campaign in campaigns %}
               <li><a href="{{ path('manage_campaign', {id: campaign.id}) }}">{{ campaign.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>