{% extends '::base.html.twig' %}

{% block body %}

    <h1 class="page-header text-center">Bienvenue au Dk²</h1>
    
    <div id="login-form" class="row center-block">
        <div class="col-sm-6">{% include 'DkPlayerBundle:Security:register.html.twig' with {error: error, last_username: last_username }%}</div>
        <div id="login-divider-vertical" class="col-sm-2"></div>
        <div class="col-sm-5">{% include 'DkPlayerBundle:Security:login.html.twig' with {error: error, last_username: last_username }%}</div>
    </div>
        
{% endblock %}