@font-face {
    font-family: acaslon;
    src: url("font/ACaslonPro-Regular.otf");
} 

body {
    padding: 10px;
    font-size: 12px;
    margin: 0 auto;
}

.container {
    width: 100%;
}

#login-form {
    width: 700px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 5px;
}

    #login-divider-vertical {
        width: 1px; height: 450px;
        padding: 0;
        background: #ccc;
    }

    #board-content {
        width: 1124px;
        padding: 30px 20px;
    }

        #dk-logo {
            width: 60%;
            height: 60%;
        }

    .form-error {
        padding: 2px 0;
        list-style: none;
        background-color: #A94442;
        color: #ffffff;
        border-radius: 3px;        
    }
    
    .form-error li {
        padding: 4px;
    }
    
    .chars-vertical dt {
        height: 24px;
        line-height: 2em;
        width: 50px;
    }
    
    .chars-vertical dd {
        margin-left: 60px;
        width: 30px;
    }
    
.panel-medieval-style {
    font-family: acaslon;
    font-size: 12px;
}

.panel-medieval-style .form-control {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
    box-shadow: none;
    color: #333333;
    font-size: 12px;
    height: 24px;
    line-height: 1.42857;
    padding: 3px 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.sheet-block {
    border: 1px #ccc solid;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 0px rgba(190, 190, 190, 0.90);
}
    .sheet-block-header {
        font: 2em;
        font-weight: bold;
        height: 2em;
        padding: 5px 0;
        border-bottom: 1px #ccc solid;
        text-indent: 15px;
        background: #f5f5f5;
    }

    .sheet-block-body {
        padding-left: 15px;
        padding-top: 15px;
    }

    .sheet-block dl {
        margin-bottom: 0;
    }

.skill-colmun {
    width: 280px;
}
  

