@font-face {
    font-family: acaslon;
    src: url("font/ACaslonPro-Regular.otf");
} 

body {
    padding: 10px;
    font-size: 12px;
    margin: 0 auto;
}

.container {
    width: 100%;
}

#login-form {
    width: 700px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding: 5px;
}

    #login-divider-vertical {
        width: 1px; height: 450px;
        padding: 0;
        background: #ccc;
    }

    #board-menu {
        width: 250px;
    }
    
    #board-content {
        padding-left: 20px;
    }
    
    div.list-group-item.active,
    div.list-group-item.active:hover,
    div.list-group-item.active:focus {
        background-color: #428BCA;
        border-color: #428BCA;
        color: #FFFFFF;
        z-index: 2;
    }

    .panel-heading h1 {
        padding: 0;
        margin: 0;
    }
    
    
    .form-error {
        padding: 2px 0;
        list-style: none;
        background-color: #A94442;
        color: #ffffff;
        border-radius: 3px;        
    }
    
    .form-error li {
        padding: 4px;
    }
    
    .chars-vertical dt {
        height: 24px;
        line-height: 2em;
        width: 50px;
    }
    
    .chars-vertical dd {
        margin-left: 60px;
        width: 30px;
    }
    
.panel-medieval-style {
    font-family: acaslon;
    font-size: 12px;
}

.panel-medieval-style .form-control {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0;
    box-shadow: none;
    color: #333333;
    font-size: 12px;
    height: 24px;
    line-height: 1.42857;
    padding: 3px 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
  

