{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="page-header">Liste de toutes les campagnes</h1>
    <a href="{{ path('manage_campaign') }}" id="create-campaign">
        Créer une nouvelle campagne
    </a>
    {% if campaigns is not empty %}
        <ul>
        {% for campaign in campaigns %}
            <li>
                <a href="{{ path('manage_campaign', {id: campaign.id}) }}" id="campaign-{{ campaign.id}}">{{ campaign.name }} <small>({# player.characters|length #} characters)</small></a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="alert alert-warning">
        Aucune campagne n'est enregistrée.
    </div>
    {% endif %}
     
{% endblock %}