<div class="sheet-block-header">
    Compétences
</div>

<div class="sheet-block-body">

        {% set group = null %}
        {% for skill in form.skills %}
            {% if skill.vars.value.rulesetskill.group.name != group %}
                {% if loop.index0 != 0 %}
                        </table>
                    </div>
                {% endif %}
                <div class="well  skill-colmun">
                    <h4>{{ skill.vars.value.rulesetskill.group.name }}</h4>
                    <table>
            {% endif %}

            {{ form_widget(skill, {attr: {size: 2}}) }}

            {% set group = skill.vars.value.rulesetskill.group.name %}

            {% if loop.last %}
                    </table>
                </div>
            {% endif %}
        {% endfor %}

</div>
