{% extends '::base.html.twig' %}

{% block body %}
    
    {% block board %}

        <div class="container">    
            <div class="row">
                <div id="board-content" class="col-xs-9">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>
                                {% block title %}
                                {% endblock %}
                            </h3>
                        </div>
                    </div>
                    {% block board_content %}
                    {% endblock %}
                </div>
                <div id="board-menu" class="col-xs-3">
                    {% block board_menu %}
                        {{ render(controller('DkSystemBundle:Board:menu')) }}
                    {% endblock %}
                </div>
            </div>
        </div>
    
    {% endblock %}
    
{% endblock %}