{% extends '::base.html.twig' %}

{% block body %}
    
    {% block board %}

        <div class="container">    
            <div class="row">
                <div id="board-menu">
                    {% block board_menu %}
                        {{ render(controller('DkSystemBundle:Board:menu')) }}
                    {% endblock %}
                </div>
                <div id="board-content" class="center-block">
                    <h2>
                        {% block title %}
                        {% endblock %}
                    </h2>
                    {% block board_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    
    {% endblock %}
    
{% endblock %}